body {
    // background-image: linear-gradient(#000, #130025);
    background-color: black;
}

/* SWIPER */

.swiper {
    width: 98vw;
    height: 80vh;
    .swiper-slide {
        // background-image: linear-gradient(#000, #130025);
        // background: red;
    }
    .swiper-slide-active {
        // opacity: 1;
        // background: blue;
    }
}

/* SLIDE ONE */

.swiper-slide {

    h1 {
        // margin-left: 6em;
        margin-top: 1em;
    }

    .body-text {
        // width: 1250px;

        p {
            font-family: $font-family-body;
            color: white;
            // margin-top: 3em;
            // margin-left: 35em;
            max-width: 35em;
        }
    }
}

/* PAGINATION */

.swiper-pagination {
    margin-right: 1em;
}

.swiper-pagination-bullet {
    background-color: $stars-color !important;
    padding: .5em;

}

/* MOON PHASES */
.phase-wrapper {
    // background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    /* MOON IMAGES */
    .moon-wrapper {
        // border: 1px solid red;
        // position: absolute;
        // width: 500px;
        // height: 500px;
            margin-right: 2%;
            width: 30%;
            
        img {
            // max-width: 500px;
            // position: absolute;
            // margin-top: 1em;
            // margin-left: 6em;
            // top: 0;
            // left: 0;
        }
    }

    .text-wrapper {
        width: 50%;
    }
}